<div class="search-form container">
  <form method="POST">
    <div class="form-group">
      <label for="input-search">key word</label>
      <input
        type="text"
        class="form-control"
        id="input-search"
        placeholder="Search....."
        name="q"
      />
      <select name="gender" id="" class="form-control">
        <option value="">--chosen gender</option>
        <option value="male">male-men</option>
        <option value="female">female-women</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Looking for</button>
  </form>
</div>